.info__wrapper {
  background-color: #dcdeea;
  color: #000;
}

.place__detail__header {
  background-image: url("../../assets/afghanistan-band-e-amir-national-park-6vj9t3pstoxmr4sy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
}

.textxl {
  font-size: 1500%;
  /* color: var(--text-color); */
}

.text {
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}
