.info__wrapper {
  background-color: #dcdeea;
  color: #000;
}

.place__detail__header {
  background-image: url("../../assets/afghanistan-band-e-amir-national-park-6vj9t3pstoxmr4sy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
}

.textxl {
  font-size: 1500%;
  /* color: var(--text-color); */
}

.text {
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}

.glass-btn {
  display: inline-block;
  /* background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.glass-btn::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -80px;
  animation: shine 2.4s infinite linear;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  35% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
