.home__section {
  background-image: url("../../assets/band.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
}

.home__title {
  font-family: "Poetsen One", sans-serif;
  font-weight: 700;
}

.home__paragraph {
  font-size: 1.25rem;
}

.glass-btn {
  display: inline-block;
  /* background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.glass-btn::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -80px;
  animation: shine 2.4s infinite linear;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  35% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
