.navbar {
  background: var(--primary-color);
  color: var(--text-color);
  z-index: 99;
}

.logo {
  /* font-family: "Caveat"; */
  font-family: "Salsa", sans-serif;
}

select {
  background: var(--primary-color);
}

.navlinks__container li:hover {
  cursor: pointer;
}

.active {
  font-weight: 500;
  color: #0ef;
}
