.navbar {
  background: var(--primary-color);
  color: var(--text-color);
  z-index: 99;
}

.logo {
  font-family: "Caveat";
}

select {
  background: var(--primary-color);
}

.navlinks__container li:hover {
  cursor: pointer;
}
