.theme-btn {
  border-radius: 100%;
  border: none;
  text-align: center;
  align-items: center;
  background: var(--lang-input-color);
  color: var(--white-color);
}

.theme-btn:hover {
  cursor: pointer;
}
